.App {
  text-align: center;
}

body{
  background-color: orange;
}
.img2,.img3,.img4,.img5{
  width: 80vh;
  height: 50vh;
  display:block;
  margin: 0 auto;
  margin-top: 20px;
  border: solid 5px;
  padding: 20px;
}
.des01{
  display: block;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  font-family: sans-serif;
  padding: 50px;
  letter-spacing: normal;
  line-height: 25px;
  font-size: 20px;

}
.GValley{
  padding-top: 30px;
  text-align: center;
  max-width: 100%;
  margin: 0 auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
